@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background:#ffffff; 
  box-shadow: 1px 1px 1px 1px #000000; 
  border-radius:3px; 
  padding:1em;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  justify-content: center;
}

h1 {
  font-size: 2.3em;
  color: #00dae0;
  border-bottom: 1px #f0eded solid;
  margin-bottom: 5px;
  padding-bottom: 5px;
  margin-top: 2px;
}
.submit { width:100%; float:center; }

.submit_btn {
  float: left;
  display: block;
  padding: 5px 30px;
  border: none;
  outline: none;
  background-color: #65afd1;
  color: #fff;
  text-shadow: 0 0 5px rgb(0, 0, 0);
  font-family: inherit;
  font-size: 20px;
  font-family:'open_sansregular';
  border-radius: 6px;
  margin: 10px auto;
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 2px;
}
.submit_btn:hover {

  background-color: #444444;
  transform: scale(1.03);

}
.form_input {
  font-size: 16px;
  font-family: inherit;
  padding: 8px 15px;
  border-radius: 4px;
  border: 1px #f2f2f2 solid;
  background: #fdfdfd;
  outline: none;
  transition: all 0.3s;
}